.header {
  height: 550px;
  margin-bottom: 70px;
  margin-top: 27px;
}

.headerSwiper {
  height: 550px;
}

.headerSwiper .swiper-button-prev, .headerSwiper .swiper-button-next {
  top: auto;
  bottom: 0;
}

.headerSwiper .swiper-button-prev::after, .headerSwiper .swiper-button-next::after {
  color: #D8D8D8;
  font-size: 23px;
}

.headerSwiper .swiper-button-next {
  right: calc(50% - 70px);
}

.headerSwiper .swiper-button-prev {
  left: calc(50% - 70px);
}

.headerSwiper .swiper-pagination {
  bottom: 16px;
}

.headerSwiper .swiper-pagination-bullet {
  background: #D8D8D8;
}

.headerSwiper .swiper-pagination-bullet-active {
  background: #4042E2;
}

.headerSwiper .swiper-pagination-bullet-active-prev, .headerSwiper .swiper-pagination-bullet-active-next {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.headerSwiper .swiper-pagination-bullet-active-prev-prev,
.headerSwiper .swiper-pagination-bullet-active-next-next {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.header__items {
  height: 550px;
  padding: 0 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
  max-height: 550px;
  z-index: 0;
}

.header__title {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.header__info {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.header__date {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.header__btn {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background: #4042E2;
  border: 1px solid #4042E2;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 35px;
  width: 160px;
  margin-bottom: 20px;
}

@media (max-width: 1600px) {
  .header, .loyixalar,
  .weeknews, .video_slider {
    padding: 0 100px;
  }
}

@media (max-width: 1440px) {
  .header, .loyixalar,
  .weeknews, .video_slider {
    padding: 0 70px;
  }
  .header__items {
    padding: 0 130px;
  }
}

@media (max-width: 1024px) {
  .header, .loyixalar,
  .weeknews, .video_slider {
    padding: 0 30px;
  }
  .header__items {
    padding: 0 50px;
  }
}

@media (max-width: 768px) {
  .header__title {
    font-size: 26px;
  }
  .header__info {
    font-size: 17px;
  }
}

@media (max-width: 570px) {
  .header, .loyixalar,
  .weeknews, .video_slider {
    padding: 0 20px;
  }
  .header__items {
    padding: 0 20px;
  }
  .header__title {
    font-size: 18px;
    line-height: 25px;
  }
  .header__info {
    font-size: 14px;
    line-height: 23px;
  }
  .header__btn {
    width: 120px;
    padding: 8px 20px;
    font-size: 14px;
  }
}

@media (max-width: 425px) {
  .header {
    margin-top: 0;
    margin-bottom: 30px;
  }
}

@media (max-width: 375px) {
  .header {
    padding: 0;
  }
  .header__items {
    padding: 0 15px;
  }
}
